:root {
    --duration: 0.75s;
    --detailsPadding: 25px;
    interpolate-size: allow-keywords;
}

summary {
    cursor: pointer;
    background-color: #D3D3D3;
    font-size: 35px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;


    
    /* À compléter */
    &::marker {
        font-size: 1.0em;
    }
}

details {
    div {
        font-size: 30px;
        /* À compléter */
    }

    span {
        /* À compléter */
        color: #1A1AFF;
        font-family: monospace;
    }

    &::details-content {
        opacity: 0;
        block-size: 0;
        overflow-y: clip;
        transition:
            /* paramètres de l'animation */
            content-visibility var(--duration) allow-discrete,
            opacity var(--duration),
            block-size var(--duration);
    }

    &[open]::details-content {
        opacity: 1;
        block-size: auto;
    }
}