:root {
    --duration: 0.75s;
    --detailsPadding: 25px;
    interpolate-size: allow-keywords;
    }
    summary {
    cursor: pointer;
    /* À compléter */
    &::marker {
    font-size: 1.0em;
    }
    }
    details {
    div {
    /* À compléter */
    }
    span {
    /* À compléter */
    font-family: monospace;
    }
    &::details-content {
    opacity: 0;
    block-size: 0;
    overflow-y: clip;
    transition: /* paramètres de l'animation */
    content-visibility var(--duration) allow-discrete,
    opacity var(--duration),
    block-size var(--duration);
    }
    &[open]::details-content {
    opacity: 1;
    block-size: auto;
    }
    }