:root {
    --gap: 5px;
    --trans-speed: 0.5s;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin: auto;

    &>* {
        padding: var(--gap);
        margin: var(--gap);
    }

    .header {
        display: inline;
    }

    .footer {
        display: inline;
    }

    .main {
        flex: auto;
        min-height: 5vh;
    }

    .scroll {
        overflow-y: auto;
    }
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*          Afficher menu bare du haut      */

.headerMenu {
    display: grid;
    grid-template-columns: 4vw auto;
    align-items: center;
}

.menu {
    .menuItem {
        display: inline;
        font-size: 3vw;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        cursor: pointer;
        color: black;
        border-radius: 5px;
        /* top/bottom left/rigth */
        padding: 3px 6px;
        /* ellipsis*/
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
            color: white;
            background-color: black;
        }
    }

    a {
        display: block;
        text-decoration: none;
    }

    .active {
        color: dodgerblue !important;
    }
}

.siteIcon {
    background-image: URL('../images/Overwatch_Logo.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 3.75vw;
    height: 3.75vw;
}

@media (min-width : 1100px) {
    .menu {
        .menuItem {
            font-size: 33px;
        }
    }

    .headerMenu {
        grid-template-columns: 45px auto;
    }

    .siteIcon {
        width: 40px;
        height: 40px;
    }
}
/*      Pour afficher la mosaique */
.imageFrame {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1/1;
    cursor: pointer;
    border-radius: 6px;
    &:hover {
    scale: 1.05;
    transition: var(--trans-speed);
    }
    transition: var(--trans-speed);
}
.imageGestion{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap, 5px);
    @media (min-width : 500px){
        grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width : 700px){
        grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width : 900px){
        grid-template-columns: repeat(4, 1fr);
    }
    @media (min-width : 1100px){
        grid-template-columns: repeat(5, 1fr);
    }
    @media (min-width : 1400px){
        grid-template-columns: repeat(6, 1fr);
    }
}